* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(59 152 206);
  font-family: "Passion One", sans-serif;
  font-size: 16px;
}

.title {
  font-size: 5rem;
}

.title span:nth-child(1) {
  color: rgb(244, 65, 65);
}

.title span:nth-child(2) {
  color: rgb(74, 74, 188);
}

.title span:nth-child(3) {
  color: rgb(71, 144, 71);
}

.title span:nth-child(4) {
  color: rgb(200, 200, 89);
}

.title span:nth-child(5) {
  color: rgb(105, 56, 105);
}

.title span:nth-child(6) {
  color: teal;
}

.title span:nth-child(7) {
  color: darkolivegreen;
}

.title span:nth-child(8) {
  color: rgb(147, 101, 22);
}

.game {
  margin: 50px auto;
  width: 800px;
  box-shadow: 0px 0px 100px 20px #ffffff;
  border-radius: 20px;
}

.game > .state {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  background-color: #3b69d1;
  padding: 0 10px;
  color: white;
  font-size: 2rem;
}

.game > .state > .money {
  flex: 1;
  text-align: center;
}

.game > .state > .info {
  flex: 1;
  text-align: center;
}
.game > .state > .bet {
  flex: 1;
  text-align: center;
}

.game > .state > .bet > span {
  display: inline-block;
  min-width: 50px;
  text-align: right;
}

.game > .display {
  display: flex;
  flex-direction: column;
  height: 360px;
  overflow: hidden;
}

.game > .display > .line {
  display: flex;
}

.game > .display > .line > .box {
  position: relative;
  flex: 1;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: inset 0px 0px 25px 1px #3636d4;
}

.game > .actions {
  display: flex;
  flex-direction: row;
  background-color: #3b69d1;
  align-items: center;
  justify-content: space-around;
}

.game > .actions > .mode > .types {
  display: flex;
  border-color: #ffffff;
  justify-content: space-between;
}

.game > .actions > .mode > .types > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.game > .actions > .mode {
  margin: 10px;
}
.game > .actions > .mode > .title {
  color: white;
}


.game > .actions > .bet  {
  display: flex;
  width: 300px;
}

.game > .actions > .bet > .minus {
  cursor: pointer;
  height: 100px;
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b69d1;
  border-radius: 15px;
  font-size: 2rem;
  color: white;
}
.game > .actions > .bet > .start {
  cursor: pointer;
  height: 100px;
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b69d1;
  border-radius: 15px;
  font-size: 2rem;
  color: white;
}

.game > .actions > .bet > .plus {
  cursor: pointer;
  height: 100px;
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b69d1;
  border-radius: 15px;
  font-size: 2rem;
  color: white;
}
